<footer class="section-footer border-top bg">
  <div class="container">
    <section class="footer-top padding-y">
      <div class="row">
        <aside class="col-md">
          <h6 class="title">Contact</h6>
          <ul class="list-unstyled">
            <li>
              <a href="#"> <i class="fa fa-phone"></i> 27 008 738</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope"></i> cubamarket@hotmail.com
              </a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-map-marker"></i> Rue Ali Bahlouane, M'saken
                4070</a
              >
            </li>
          </ul>
        </aside>
        <aside class="col-md"></aside>
        <aside class="col-md">
          <h6 class="title">Social</h6>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.facebook.com/CubaMarket27008738/"> <i class="fa fa-facebook"></i> Facebook </a>
            </li>

            <li>
              <a href="https://www.instagram.com/cuba.market/"> <i class="fa fa-instagram"></i> Instagram </a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- row.// -->
    </section>
    <!-- footer-top.// -->

    <section class="footer-bottom row"></section>
  </div>
  <!-- //container -->
</footer>
